@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700;900&display=swap');
@import url("/css/grid.css");

html {
    box-sizing: border-box;
    font-family: Roboto, sans-serif;
}

html, body {
    margin: 0;
    padding: 0;
}

*, *:before, *:after {
    box-sizing: inherit;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.content {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}

footer {
    width: 100%;
    height: 5vh;
    text-align: center;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.calculator {
    margin: 50px;
    display: flex;
    flex-direction: column;
    background-color: gray;
    padding: 10px;

    min-height: 200px;
    min-width: 400px;
    width: 400px;
    height: 400px;
}

.input {
    height: 100px;
    background-color: white;
    margin-bottom: 5px;
    padding: 0 5px 0 5px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    > span {
        font-size: 3em;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
        direction: rtl;
    }
}

.controls {
    height: 100%;
}

.numpad {
    flex: 1 1 60%;
    padding: 0;
    margin-left: -2px;
}

.operators {
    flex: 1 1 40%;
    padding: 0;
    margin-right: -2px;
}

.operand {
    width: 100%;
    height: 100%;
    background-color: gray;
    font-size: 1.5em;
    font-family: Roboto, sans-serif;
}

.operator {
    width: 100%;
    height: 100%;
    background-color: darkgray;
    font-size: 1.5em;
    font-family: Roboto, sans-serif;
}

.italic {
    font-style: italic;
    font-weight: 300;
}

.bold {
    font-weight: 700;
}

a {
    text-decoration: none;
    color: black;
}

a:hover {
    color: orange;
}